html,body,div,p,ul,li,ol,dd,dt{
  margin:0;
  padding:0;
}
html{
  font-size:14px;
  font-family:'Microsoft YaHei';
  color:#666;
}
a{
  text-decoration: none;
  color:#666;
}
.fullWidth{
  width:100%
}
.app{
  width:1200px;
  margin:0 auto;
  padding:1px 0;
}
.clearFloat:after{
  content:'';
  display:block;
  clear:both;
}
/* header */
.header{
  width:100%;
  height:80px;
  box-shadow:2px 2px 3px #eee;
}
.header-inner{
  width:1340px;
  margin:0 auto;
}
.logo01-box{
  padding-top:15px;
}
.el-menu-demo{
  height:100%;
  padding-top:10px;
  background:transparent;
  border-bottom:none;
}
.nav-button{
  display:inline-block;
  margin-right:40px;
}
.hot-tel{
  color:#023894;
  padding-top:20px;
  font-size:24px;
  position:relative;
  padding-left:50px;
}
.hot-tel .icon{
  font-size:36px;
}
.hot-tel .number{
  display:block;
  position:absolute;
  left:100px;
  top:25px;
}
