html,body,div,p,ul,li,ol,dd,dt{
  margin:0;
  padding:0;
}
li{
  list-style:none;
}
html{
  font-size:14px;
  font-family:'Microsoft YaHei';
  color:#666;
}
a{
  text-decoration: none;
  color:#666;
}
.fullWidth{
  width:100%
}
.app{
  width:1200px;
  margin:0 auto;
  padding:1px 0;
}
.clearFloat:after{
  content:'';
  display:block;
  clear:both;
}
/* header */
.header{
  width:100%;
  height:80px;
  box-shadow:2px 2px 3px #eee;
}
.header-inner{
  width:1200px;
  margin:0 auto;
}
.logo01-box{
  padding-top:15px;
}
.el-menu-demo{
  height:100%;
  padding-top:10px;
  background:transparent;
  border-bottom:none;
}
.nav-button{
  display:inline-block;
  margin-right:40px;
}
.hot-tel{
  color:#023894;
  padding-top:20px;
  font-size:24px;
  position:relative;
  padding-left:65px;
}
.hot-tel .icon{
  font-size:36px;
}
.hot-tel .number{
  display:block;
  position:absolute;
  left:115px;
  top:25px;
}
/* footer */
.footer{
  width:100%;
  background:#2d3237;
  padding:10px 0;
}
.footer-inner{
  width:1200px;
  margin:30px auto;
}
.footer-img{
  width:800px;
  margin:20px auto;
}
.logo01-box{
  width:280px;
  float:left;
}
.footer-tel{
  width:100%;
  margin-top:65px;
  font-size:30px;
  color:#fff;
  position:relative;
  margin-left:30px;
}
.footer-tel .icon{
  font-size:36px;
}
.footer-tel .number{
  display:block;
  position:absolute;
  left:45px;
  top:0;
}
.footer-code{
  float:right;
}
.footer-code p{
  font-size:20px;
  font-weight:bold;
  color:#fff;
  margin-bottom:10px;
}
.address-copy{
  margin-top:70px;
  text-align:center;
}
.address-copy p{
  margin:5px 0;
}
